<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="/static/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GP Chapra Chatbot</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="chat-widget">
    <header>
      <img src="./static/logo.jpg" class="logo">
      <h1>GP Chapra Chatbot</h1>
      <div class="header-buttons">
        <button id="new-chat">🧹 New Chat</button>
        <button id="mode-toggle">🌙</button>
      </div>
    </header>

    <div id="chat-box" class="chat-box"></div>

    <div class="quick-questions">
      <button class="q-btn">College Info</button>
    
      <button class="q-btn">Admission Process</button>
      
      <button class="q-btn">Fees Structure</button>     
      <button class="q-btn">Campus Location</button>
      
       <button class="q-btn">Exam Pattern</button>
    </div>

    <div class="input-area">
      <input type="text" id="user-input" placeholder="Type your question..." />
      <button id="send-btn"><i class="fa-solid fa-paper-plane"></i></button>
    </div>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
